body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.bodybg {
  height: 150vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f3f2f0;
  overflow: hidden;
  z-index: -1;
}
/*  * header style */
header {
  height: 7vh;
  display: grid;
  grid-template-columns: 50% 11%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: +1000;
}

/* *---------------------------------------------------------- */
/*                 * Logo and search style                     */
/* *---------------------------------------------------------- */

.first-item {
  display: flex;
  justify-content: space-between;
  border-right: 1px solid rgba(0, 0, 0, 0.2117647059);
  height: 5vh;
  align-items: center;
}
.first-item .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.first-item .logo span {
  background-color: #edf3f8;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
}
.first-item .logo span .searchname {
  display: none;
}

.first-item .logo span .searchButton {
  text-decoration: none;
  color: black;
}
.search {
  width: 270px;
  background-color: #edf3f8;
  border: none;
  height: 33px;
  border-radius: 5px;
  padding: 0 5px;
  position: relative;
}

.first-item .logo span .search:focus {
  width: 350px;
  transition: width 0.5s;
  border: 1px solid black;
}
.search:focus {
  border: 1px solid black;
  outline: none;
}

/* *---------------------------------------------------------- */
/*                       * navabr styles                       */
/* *---------------------------------------------------------- */

.first-item .navbar ul {
  display: flex;
  align-items: center;
  margin-top: 15px;
  column-gap: 5px;
}
.first-item .navbar ul .nav-item {
  list-style: none;
  width: 80px;
  list-style: none;
  text-align: center;
}
.first-item .navbar ul .nav-item .nav-link {
  list-style: none;
  text-align: center;
  text-decoration: none;
}
.first-item .navbar ul .nav-item .nav-link .nav-name {
  display: block;
  text-align: center;
  font-size: 12px;
  list-style: none;
  color: rgba(0, 0, 0, 0.6);
}
.first-item .navbar ul .nav-item .nav-link .home {
  list-style: none;
  text-align: center;
  color: black;
}
.fa-user {
  text-align: center;
  text-align: center;
  width: 25px;
  height: 25px;
  padding: 3px 0 0 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
}
.first-item .navbar ul .home-item {
  border-bottom: 3px solid #000000;
  padding: 0 0 5px 0;
}

/* *----------------------------------------------------- */
/*                       * Links                          */
/* *------------------------------------------------------*/

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link .link1 {
  text-align: center;
}
.link .link1 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.link .link1 a .linkname {
  display: block;
  font-size: 12px;
}
.link .link2 {
  padding-top: 5px;
  text-align: center;
}
.link .link2 a {
  color: #915907;
  font-size: 12px;
  margin: 0 5px;
}

/* *----------------------------------------------------- */
/*              * Mobile View Navbar                      */
/* *------------------------------------------------------*/

.mob-view-navbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 60px;
  /* left: -10px; */
  z-index: +1000;
  display: none;
  background-color: #fff;
}
.mob-view-navbar .navbar ul {
  width: 100%;
  display: grid;
  justify-content: left;
  grid-template-columns: 20% 20% 20% 20% 20%;
  align-items: center;
  list-style: none;
  height: 60px;
}

.mob-view-navbar .navbar ul .nav-item a {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #00000099;
  white-space: nowrap;
  font-size: 10px;
}
a:visited {
  color: #000000;
  fill: #000000;
}
.search-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  position: fixed;
  top: 0;
  white-space: nowrap;
  width: 100%;
  background-color: #fff;
  z-index: +1000;
  display: none;
}

.search-nav .search {
  display: none;
}

/* *----------------------------------------------------- */
/*                    * Profile Area                      */
/* *------------------------------------------------------*/

.container {
  height: 80vh;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 20% 40% 30%;
  justify-content: space-evenly;
  width: 100%;
}

.container .profile {
  border-radius: 10px;
  height: auto;
}

.container .profile .profilepart {
  height: auto;
  border-radius: 10px;
  background-color: #fff;
}
.container .profile .profilepart .cover {
  border-radius: 10px 10px 0 0;
  height: 56px;
  background-color: #00000099;
  text-align: center;
}
.container .profile .profilepart .info {
  text-align: center;
  position: relative;
  top: 15px;
}
.container .profile .profilepart .info .name {
  color: #000000e6;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.container .profile .profilepart .university {
  color: #000000ab;
  font-size: 13px;
  text-align: center;
}
.container .profile .profilepart .cover .profilepic {
  position: relative;
  top: 20px;
  width: 25%;
  border: 2px solid white;
  border-radius: 50%;
}
.container .profile .profilepart .connections {
  text-align: left;
  padding: 0px 10px;
  font-size: 12px;
}
.container .profile .profilepart .connections a {
  text-decoration: none;
  display: block;
}
.container .profile .profilepart .btnitems {
  padding: 7px 12px;
  width: 100%;
  text-align: left;
  background: none;
  border-radius: 0 0 10px 10px;
  border: none;
  border-top: 1px solid rgba(128, 128, 128, 0.511);
  height: 4vh;
  color: rgb(83, 83, 83);
  font-size: 12px;
  font-weight: 500;
}

.container .profile .links-groups {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #fff;
}
.container .profile .links-groups .links {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #0a66c2;
}

.container .profile .links-groups .discoverbtn {
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.557);
  background: none;
  font-size: 12px;
  color: rgba(128, 128, 128);
  font-weight: 500;
}

/* *----------------------------------------------------- */
/*                    * Content Area                      */
/* *------------------------------------------------------*/
.container .posts {
  border-radius: 10px;
  height: auto;
}
.container .posts .makepost {
  border-radius: 10px;
  padding: 20px 7px 7px 7px;
  background-color: #fff;
  height: auto;
}
.container .posts .makepost .createpost {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
}
.container .posts .makepost .createpost input {
  height: 5vh;
  width: 80%;
  border-radius: 30px;
  border: 1px solid rgba(128, 128, 128, 0.511);
  padding: 0px 30px;
}
.container .posts .makepost .createpost img {
  width: 10%;
}

.container .posts .makepost .media {
  display: flex;
  justify-content: space-around;
}
.container .posts .makepost .media a {
  text-decoration: none;
  color: rgb(83, 83, 83);
  font-size: 14px;
  font-weight: 600;
}

.container .posts .recommendations {
  border-radius: 10px;
  background-color: #fff;
  display: grid;
  grid-template-rows: auto auto auto;
}

.container .posts .recommendations .text {
  font-size: 12px;
  padding: 5px 10px;
}

.container .posts .recommendations .person {
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-content: space-between;
}
.container .posts .recommendations .person .profile-info {
  display: flex;
}
.container .posts .recommendations .person .name-text {
  font-size: 12px;
  margin-left: 10px;
}

.container .posts .recommendations .person .profile-info .name-text .info {
  display: block;
}

.container .posts .recommendations .person .follow-button {
  border: 1px solid #0a66c2;
  background: none;
  font-size: 10px;
  padding: 5px 15px;
  border-radius: 30px;
  font-weight: 500;
  color: #0a66c2;
}

.container .posts .recommendations .person .btn-para {
  text-align: right;
}
.container .posts .recommendations .person .follow-button:hover {
  background-color: #0a66c27a;
}

.container .people .add-to-feed {
  background-color: #fff;
  height: 10vh;
  width: 100%;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
}
